.connection {
	.connectionClickTarget {
		cursor: pointer;
	}

	.connectionPath {
		stroke: #2f2920;
		stroke-width: 2;
	}

	.connectionPathUnderlay {
		stroke: #5b9dff;
		stroke-width: 5;
		opacity: 0.5;
		filter: drop-shadow(0 0 2px #3b82f680);
	}

	.connectionPathDashed {
		stroke-dasharray: 4 5;
	}

	.connectionPathDirectional {
		stroke-dasharray: 50 50;
	}

	&.connectionEditing {
		.connectionPath {
			stroke: #796d5ab3;
			stroke-width: 3;
		}
	}

	&.connectionSelected {
		.connectionPath {
			stroke: #183b66;
			stroke-width: 2.5;
		}
	}
}
